.*
!.gitignore
!.gitmodules
!.clangd
!.clang-tidy
!.clang-format
!.editorconfig
**/__cmake_systeminformation/
**/build/
**/build.*/

cachegrind*
massif*
vgcore*

# logic analyzer sessions
data/

sdkconfig
sdkconfig.old
sdkconfig.defaults.local
