.*
!.gitignore
!.gitmodules
!.clangd
!.clang-tidy
!.clang-format
!.editorconfig

**/__cmake_systeminformation/
**/build/
**/build.*/
managed_components/
# dependencies.lock
sdkconfig
sdkconfig.old
sdkconfig.defaults.local

cachegrind*
massif*
vgcore*

# logic analyzer sessions
data/

